[user]
	email = dm.altukhov@ya.ru
	name = Dmitriy Altukhov
[core]
	editor = nvim
[alias]
	st = status
    cm = commit -m
    a = add
    d = diff
    co = checkout
    cob = checkout -b
    la = "!git config -l | grep alias | cut -c 7-"
[http]
	sslverify = false
